footer {
  width: 100%;
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  padding: 50px 7vw 0 7vw;
  column-gap: 20px;
  row-gap: 40px;

  & > * {
    display: flex;
    flex-direction: column;
  }

  .about {
    grid-column: 1;
    grid-row: 1;

    img {
      width: 100px;
      cursor: pointer;
    }
  }

  .explore {
    grid-column: 2;
    grid-row: 1;
  }

  .company {
    grid-column: 3;
    grid-row: 1;
  }

  .follow {
    grid-column: 4;
    grid-row: 1;
  }

  .download {
    grid-column: 1/5;
    grid-row: 2;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;

    img {
      width: 160px;
      margin: 0 5px;
      cursor: pointer;
    }

    & > div {
      display: flex;
      flex-direction: row;
    }
  }

  .footer {
    grid-column: 1/5;
    grid-row: 3;
    border-top: 1px solid #dee2e6;
    text-align: center;
    padding: 1rem;
  }

  .icons {
    display: flex;
    flex-direction: row;

    .icon {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      transition: 0.3s ease;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  a {
    padding: 0.25rem 0;
    &:hover {
      font-weight: 600;
      text-decoration: underline !important;
      color: black !important;
    }
    color: black !important;
    text-decoration: none !important;
  }

  p {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 992px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);

    .about {
      grid-column: 1;
      grid-row: 1;
    }

    .explore {
      grid-column: 1;
      grid-row: 2;
    }

    .company {
      grid-column: 1;
      grid-row: 3;
    }

    .follow {
      grid-column: 1;
      grid-row: 4;
    }

    .download {
      grid-column: 1;
      grid-row: 5;

      & > div {
        flex-direction: column;
      }
    }

    .footer {
      grid-column: 1;
      grid-row: 6;
    }
  }
}
