header {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  z-index: 20;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  background-color: white;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;

    &:hover {
      color: black;
    }
  }

  nav {
    margin: 0 5vw;
    display: flex;
    flex-direction: row;
    height: inherit;

    .bars {
      display: flex;
      align-items: center;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      height: inherit;
      margin: 0;

      li {
        height: inherit;
        padding-right: 0.6rem;
        padding-left: 0.6rem;
        border-bottom: 0px solid #e1e1e1;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin: 0 5px;
      }

      li:hover {
        background-color: #f4f4f4;
        color: black !important;
        cursor: pointer;
      }
    }
  }

  img {
    width: 100px;
  }

  .active {
    background-color: #171717 !important;
    a {
      color: white !important;
    }
  }

  .icons {
    margin-right: 5vw;
    position: relative;

    .counter {
      position: absolute;
      cursor: pointer;
      width: 20px;
      height: 20px;
      padding: 15px;
      border-radius: 50%;
      background-color: red;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -10px;
      left: 80%;
    }
  }

  svg {
    cursor: pointer;
  }

  .logoutButton {
    background-color: white;
    border: none;
    font-weight: 600;
  }
}

@media only screen and (max-width: 768px) {
  nav > ul,
  header img {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .bars {
    display: none !important;
  }
}
