.subscribe-banner {
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.bubscribe-control {
    color: #ffffff !important;
    background-color: rgba(255, 255, 255, 0.119);
    border: 1px solid rgb(255 255 255 / 62%); 
}

.bubscribe-button {
    border-radius: 0;
    color: rgb(50, 46, 46);
    background-color: #ffffff;
    border-color: #ffffff;

    &:hover {
        color: gray;
        background-color: transparent;
        border-color: gray;
    }
}